userGate/src/main/resources/AccountService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.soap.useraccount/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AccountService" targetNamespace="http://services.soap.useraccount/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.soap.useraccount/" elementFormDefault="unqualified" targetNamespace="http://services.soap.useraccount/" version="1.0">

  <xs:element name="addUserAttribute" type="tns:addUserAttribute"/>

  <xs:element name="addUserAttributeResponse" type="tns:addUserAttributeResponse"/>

  <xs:element name="addUserToGroup" type="tns:addUserToGroup"/>

  <xs:element name="addUserToGroupResponse" type="tns:addUserToGroupResponse"/>

  <xs:element name="assignRole" type="tns:assignRole"/>

  <xs:element name="assignRoleResponse" type="tns:assignRoleResponse"/>

  <xs:element name="createAccount" type="tns:createAccount"/>

  <xs:element name="createAccountResponse" type="tns:createAccountResponse"/>

  <xs:element name="findByUsername" type="tns:findByUsername"/>

  <xs:element name="findByUsernameResponse" type="tns:findByUsernameResponse"/>

  <xs:element name="findRole" type="tns:findRole"/>

  <xs:element name="findRoleResponse" type="tns:findRoleResponse"/>

  <xs:element name="findSomeone" type="tns:findSomeone"/>

  <xs:element name="findSomeoneResponse" type="tns:findSomeoneResponse"/>

  <xs:element name="findUserByFullName" type="tns:findUserByFullName"/>

  <xs:element name="findUserByFullNameResponse" type="tns:findUserByFullNameResponse"/>

  <xs:element name="getGroupDNfrom" type="tns:getGroupDNfrom"/>

  <xs:element name="getGroupDNfromResponse" type="tns:getGroupDNfromResponse"/>

  <xs:element name="getOrgUnit" type="tns:getOrgUnit"/>

  <xs:element name="getOrgUnitResponse" type="tns:getOrgUnitResponse"/>

  <xs:element name="getOrgs" type="tns:getOrgs"/>

  <xs:element name="getOrgsResponse" type="tns:getOrgsResponse"/>

  <xs:element name="getPersons" type="tns:getPersons"/>

  <xs:element name="getPersonsResponse" type="tns:getPersonsResponse"/>

  <xs:element name="getRoleByName" type="tns:getRoleByName"/>

  <xs:element name="getRoleByNameResponse" type="tns:getRoleByNameResponse"/>

  <xs:element name="getRoles" type="tns:getRoles"/>

  <xs:element name="getRolesResponse" type="tns:getRolesResponse"/>

  <xs:element name="isUserMemberOf" type="tns:isUserMemberOf"/>

  <xs:element name="isUserMemberOfResponse" type="tns:isUserMemberOfResponse"/>

  <xs:element name="login" type="tns:login"/>

  <xs:element name="loginResponse" type="tns:loginResponse"/>

  <xs:element name="migrateUser" type="tns:migrateUser"/>

  <xs:element name="migrateUserResponse" type="tns:migrateUserResponse"/>

  <xs:element name="person" type="tns:person"/>

  <xs:element name="personRoles" type="tns:personRoles"/>

  <xs:element name="personRolesResponse" type="tns:personRolesResponse"/>

  <xs:element name="removeRole" type="tns:removeRole"/>

  <xs:element name="removeRoleResponse" type="tns:removeRoleResponse"/>

  <xs:element name="updateUser" type="tns:updateUser"/>

  <xs:element name="updateUserAttribute" type="tns:updateUserAttribute"/>

  <xs:element name="updateUserAttributeResponse" type="tns:updateUserAttributeResponse"/>

  <xs:element name="updateUserResponse" type="tns:updateUserResponse"/>

  <xs:element name="userGroup" type="tns:userGroup"/>

  <xs:element name="userGroupResponse" type="tns:userGroupResponse"/>

  <xs:element name="userProfile" type="tns:userProfile"/>

  <xs:element name="userProfileResponse" type="tns:userProfileResponse"/>

  <xs:complexType name="migrateUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:person"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="person">
    <xs:sequence>
      <xs:element minOccurs="0" name="cell" type="xs:string"/>
      <xs:element minOccurs="0" name="dn" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="first_name" type="xs:string"/>
      <xs:element minOccurs="0" name="gender" type="xs:string"/>
      <xs:element minOccurs="0" name="idNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="last_name" type="xs:string"/>
      <xs:element minOccurs="0" name="member" type="xs:string"/>
      <xs:element minOccurs="0" name="orgUnit" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="migrateUserResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="findByUsername">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findByUsernameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:person"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="login">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addUserAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="userDn" type="xs:string"/>
      <xs:element minOccurs="0" name="attribute" type="xs:string"/>
      <xs:element minOccurs="0" name="attValue" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addUserAttributeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="newPerson" type="tns:person"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createAccountResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getRoles">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getRolesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:userRoles"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="userRoles">
    <xs:sequence>
      <xs:element minOccurs="0" name="role" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findUserByFullName">
    <xs:sequence>
      <xs:element minOccurs="0" name="fullname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findUserByFullNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:person"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getGroupDNfrom">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getGroupDNfromResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:person"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateUserResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getOrgUnit">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getOrgUnitResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="userProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="userProfileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:person"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRoleByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRoleByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addUserToGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:person"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addUserToGroupResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:person"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeRoleResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="assignRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:person"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="assignRoleResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="userGroup">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="userGroupResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:groups"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="groups">
    <xs:sequence>
      <xs:element minOccurs="0" name="groupDN" type="xs:string"/>
      <xs:element minOccurs="0" name="groupName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findSomeone">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findSomeoneResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:person"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPersons">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getPersonsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:person"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getOrgs">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getOrgsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="isUserMemberOf">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="rolename" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="isUserMemberOfResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateUserAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="attribute" type="xs:string"/>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateUserAttributeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="personRoles">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="personRolesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:userRoles"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findRole">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="findRoleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="addUserAttributeResponse">
    <wsdl:part element="tns:addUserAttributeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUser">
    <wsdl:part element="tns:updateUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findRoleResponse">
    <wsdl:part element="tns:findRoleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isUserMemberOfResponse">
    <wsdl:part element="tns:isUserMemberOfResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRoleByName">
    <wsdl:part element="tns:getRoleByName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="userGroup">
    <wsdl:part element="tns:userGroup" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRolesResponse">
    <wsdl:part element="tns:getRolesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAccount">
    <wsdl:part element="tns:createAccount" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupDNfromResponse">
    <wsdl:part element="tns:getGroupDNfromResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonsResponse">
    <wsdl:part element="tns:getPersonsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="personRoles">
    <wsdl:part element="tns:personRoles" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrgsResponse">
    <wsdl:part element="tns:getOrgsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignRoleResponse">
    <wsdl:part element="tns:assignRoleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserResponse">
    <wsdl:part element="tns:updateUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRoles">
    <wsdl:part element="tns:getRoles" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserAttribute">
    <wsdl:part element="tns:addUserAttribute" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="userGroupResponse">
    <wsdl:part element="tns:userGroupResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findRole">
    <wsdl:part element="tns:findRole" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findUserByFullNameResponse">
    <wsdl:part element="tns:findUserByFullNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isUserMemberOf">
    <wsdl:part element="tns:isUserMemberOf" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part element="tns:loginResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="migrateUserResponse">
    <wsdl:part element="tns:migrateUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findSomeoneResponse">
    <wsdl:part element="tns:findSomeoneResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="migrateUser">
    <wsdl:part element="tns:migrateUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeRoleResponse">
    <wsdl:part element="tns:removeRoleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="userProfile">
    <wsdl:part element="tns:userProfile" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserToGroup">
    <wsdl:part element="tns:addUserToGroup" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrgUnit">
    <wsdl:part element="tns:getOrgUnit" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrgUnitResponse">
    <wsdl:part element="tns:getOrgUnitResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAccountResponse">
    <wsdl:part element="tns:createAccountResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="login">
    <wsdl:part element="tns:login" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="personRolesResponse">
    <wsdl:part element="tns:personRolesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserToGroupResponse">
    <wsdl:part element="tns:addUserToGroupResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrgs">
    <wsdl:part element="tns:getOrgs" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeRole">
    <wsdl:part element="tns:removeRole" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findSomeone">
    <wsdl:part element="tns:findSomeone" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserAttributeResponse">
    <wsdl:part element="tns:updateUserAttributeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupDNfrom">
    <wsdl:part element="tns:getGroupDNfrom" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserAttribute">
    <wsdl:part element="tns:updateUserAttribute" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByUsername">
    <wsdl:part element="tns:findByUsername" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findUserByFullName">
    <wsdl:part element="tns:findUserByFullName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByUsernameResponse">
    <wsdl:part element="tns:findByUsernameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignRole">
    <wsdl:part element="tns:assignRole" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersons">
    <wsdl:part element="tns:getPersons" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="userProfileResponse">
    <wsdl:part element="tns:userProfileResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRoleByNameResponse">
    <wsdl:part element="tns:getRoleByNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="personInterface">
    <wsdl:operation name="migrateUser">
      <wsdl:input message="tns:migrateUser" name="migrateUser">
    </wsdl:input>
      <wsdl:output message="tns:migrateUserResponse" name="migrateUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByUsername">
      <wsdl:input message="tns:findByUsername" name="findByUsername">
    </wsdl:input>
      <wsdl:output message="tns:findByUsernameResponse" name="findByUsernameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="tns:login" name="login">
    </wsdl:input>
      <wsdl:output message="tns:loginResponse" name="loginResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserAttribute">
      <wsdl:input message="tns:addUserAttribute" name="addUserAttribute">
    </wsdl:input>
      <wsdl:output message="tns:addUserAttributeResponse" name="addUserAttributeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAccount">
      <wsdl:input message="tns:createAccount" name="createAccount">
    </wsdl:input>
      <wsdl:output message="tns:createAccountResponse" name="createAccountResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoles">
      <wsdl:input message="tns:getRoles" name="getRoles">
    </wsdl:input>
      <wsdl:output message="tns:getRolesResponse" name="getRolesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findUserByFullName">
      <wsdl:input message="tns:findUserByFullName" name="findUserByFullName">
    </wsdl:input>
      <wsdl:output message="tns:findUserByFullNameResponse" name="findUserByFullNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupDNfrom">
      <wsdl:input message="tns:getGroupDNfrom" name="getGroupDNfrom">
    </wsdl:input>
      <wsdl:output message="tns:getGroupDNfromResponse" name="getGroupDNfromResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <wsdl:input message="tns:updateUser" name="updateUser">
    </wsdl:input>
      <wsdl:output message="tns:updateUserResponse" name="updateUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrgUnit">
      <wsdl:input message="tns:getOrgUnit" name="getOrgUnit">
    </wsdl:input>
      <wsdl:output message="tns:getOrgUnitResponse" name="getOrgUnitResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userProfile">
      <wsdl:input message="tns:userProfile" name="userProfile">
    </wsdl:input>
      <wsdl:output message="tns:userProfileResponse" name="userProfileResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoleByName">
      <wsdl:input message="tns:getRoleByName" name="getRoleByName">
    </wsdl:input>
      <wsdl:output message="tns:getRoleByNameResponse" name="getRoleByNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserToGroup">
      <wsdl:input message="tns:addUserToGroup" name="addUserToGroup">
    </wsdl:input>
      <wsdl:output message="tns:addUserToGroupResponse" name="addUserToGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeRole">
      <wsdl:input message="tns:removeRole" name="removeRole">
    </wsdl:input>
      <wsdl:output message="tns:removeRoleResponse" name="removeRoleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assignRole">
      <wsdl:input message="tns:assignRole" name="assignRole">
    </wsdl:input>
      <wsdl:output message="tns:assignRoleResponse" name="assignRoleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userGroup">
      <wsdl:input message="tns:userGroup" name="userGroup">
    </wsdl:input>
      <wsdl:output message="tns:userGroupResponse" name="userGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findSomeone">
      <wsdl:input message="tns:findSomeone" name="findSomeone">
    </wsdl:input>
      <wsdl:output message="tns:findSomeoneResponse" name="findSomeoneResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersons">
      <wsdl:input message="tns:getPersons" name="getPersons">
    </wsdl:input>
      <wsdl:output message="tns:getPersonsResponse" name="getPersonsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrgs">
      <wsdl:input message="tns:getOrgs" name="getOrgs">
    </wsdl:input>
      <wsdl:output message="tns:getOrgsResponse" name="getOrgsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isUserMemberOf">
      <wsdl:input message="tns:isUserMemberOf" name="isUserMemberOf">
    </wsdl:input>
      <wsdl:output message="tns:isUserMemberOfResponse" name="isUserMemberOfResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUserAttribute">
      <wsdl:input message="tns:updateUserAttribute" name="updateUserAttribute">
    </wsdl:input>
      <wsdl:output message="tns:updateUserAttributeResponse" name="updateUserAttributeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="personRoles">
      <wsdl:input message="tns:personRoles" name="personRoles">
    </wsdl:input>
      <wsdl:output message="tns:personRolesResponse" name="personRolesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findRole">
      <wsdl:input message="tns:findRole" name="findRole">
    </wsdl:input>
      <wsdl:output message="tns:findRoleResponse" name="findRoleResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountServiceSoapBinding" type="tns:personInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="migrateUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="migrateUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="migrateUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByUsername">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findByUsername">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findByUsernameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="login">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserAttribute">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addUserAttribute">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUserAttributeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAccount">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createAccount">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createAccountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findUserByFullName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findUserByFullName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findUserByFullNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoles">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRoles">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRolesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupDNfrom">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getGroupDNfrom">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getGroupDNfromResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrgUnit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getOrgUnit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOrgUnitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoleByName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRoleByName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRoleByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userProfile">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="userProfile">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="userProfileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserToGroup">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addUserToGroup">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUserToGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeRole">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeRole">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeRoleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assignRole">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="assignRole">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="assignRoleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userGroup">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="userGroup">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="userGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findSomeone">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findSomeone">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findSomeoneResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersons">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPersons">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPersonsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isUserMemberOf">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="isUserMemberOf">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isUserMemberOfResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrgs">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getOrgs">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOrgsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUserAttribute">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateUserAttribute">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateUserAttributeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findRole">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findRole">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findRoleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="personRoles">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="personRoles">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="personRolesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port binding="tns:AccountServiceSoapBinding" name="AccountServicePort">
      <soap:address location="http://localhost:8080/userGate/AccountService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>